.portfolioBody {
    position: relative;
    width: 500px;
    top: 10%;
    margin-left: 30px;
    margin-right: 65px;
    color: rgb(170, 170, 170);
    font-family: calluna;
}

.portfolioList {
    margin-top: 45px;
}

.portfolioList b {
    color: #95b9d0;
    transition: ease-in-out 1s;
}

.portfolioList span {
    margin-left: 50%;
    line-height: 200%;
    font-style: italic;
}

.portfolioList b:hover {
    color: rgb(171, 171, 171);
    transition: ease-in-out 1s;
    cursor: pointer;
}

.projectOne {
    margin-top: 40px;
}

.projectOne p {
    line-height: 200%;
}

.projectOne a {
    text-decoration: underline;
    color: rgb(170, 170, 170);
    transition: ease-in-out 1s;
}

.projectOne a:hover {
    color: #95b9d0;
    transition: ease-in-out 1s;
}

.projectTwo {
    margin-top: 40px;
}

.projectTwo p {
    line-height: 200%;
}

.projectThree {
    margin-top: 40px;
}

.projectThree p {
    line-height: 200%;
}

.projectThree a {
    text-decoration: underline;
    color: rgb(170, 170, 170);
    transition: ease-in-out 1s;
}

.projectThree a:hover {
    color: #95b9d0;
    transition: ease-in-out 1s;
}


.projectTitle:hover {
    color: black;
    transition: ease-in-out 1s;
}

.titleText {
    position: relative;
    font-family: tokyo-outline;
    font-style: italic;
    color: #95b9d0;
    font-size: 50px;
    z-index: 0;
    margin-right: 50px;
    margin-left: 65px;
    bottom: 20%;
}

.subTitleText {
    position: absolute;
    font-family: calluna;
    font-size: 17px;
}